# Google Apps Script Web App Deployment URL
# Submit a POST request to this URL to store data in Google Sheets
# Request details by appending `?id=RECORD_ID` to this URL
VITE_API_URL=your_google_apps_script_url_here
